body {
    font-size: 150%;
    color: black;
    text-align: center;
}

#purpose {
    width: 50%;
    margin: auto;
    text-align: center;
}

#links {
    width: 50%;
    margin: auto;
    text-align: center;
}

.member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.member img {
    margin-right: 20px;
}

.member-info {
    flex: 1;
    text-align: left;
}

.member-info h2 {
    margin: 0;
}

.member-info p {
    margin-top: 5px;
}