*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Times New Roman", Georgia, serif;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 60px; /* Adjust based on the actual height of your navbar */
}

.site {
  font-size: 2rem;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #900f0f;
  padding: 0px 0px;
  color: #fff;
  gap: 2rem;
  padding:.1rem;
  font-size: 1.5rem;
}

.nav ul {
  padding: 0.5rem;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  text-align: right;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  
}

.nav a.site { /* Directly style the "Main" link */
  padding: 10 0px;
  margin-right: auto; /* Or any other spacing you desire */
  /* Other styles for the "Main" link */
}

.nav li:hover {
  background-color: #777;
}

.alabamaLogo {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  margin-right: -25px;  
}

.student-form {
  flex: 1;
  min-width: 300px; /* Minimum width of the form */
  flex-basis: 50%; /* Adjust this as needed */
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  text-decoration: none;
  list-style: none;
}

.student-form input,
.student-form label {
  width: 100%; /* Full width of the form */
  /* margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.5rem; */
  font-size: 1rem; /* This will reduce the font size */
  margin: 5px 0; /* Adds some space around inputs */
  padding: 8px; /*Adjust padding to make input fields smaller*/
}

.student-table {
  width: 50%; /* Adjust the width as needed */
  margin-left: auto; /* This will push the container to the right */
  margin-right: -50px;
  margin-top: 15px;
  border-collapse: collapse; /* This will remove the space between table cells */
  /* Add additional styling as needed */
}

.student-table table {
  width: 100%; /* Make the table use all of the container's width */
  /* Add other styling for the table here */
}

.student-table table ul {
  padding-left: 0; /* Remove default padding */
  list-style: none; /* Remove default list bullet points */
}

.student-table table li {
  list-style: none;
  /* Style for list items if needed */
}

.student-table th,
.student-table tr,
.student-table td {
  border-bottom: 1px solid #ccc;
}

/* Optionally, if you want vertical lines between cells within student-table */
.student-table td {
  border-right: 1px solid #ccc;
}

/* Make sure the last cell in each row doesn't have a right border */
.student-table td:last-child {
  border-right: none;
}

/* If you want to add vertical lines between headers within student-table */
.student-table th:not(:last-child) {
  border-right: 1px solid #ccc;
}

.submit-container {
  display: flex;
  justify-content: start;
  gap: 10px;
}



.time-slots-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.time-slot {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-slot-checkbox {
  margin-right: 5px;
}

.time-slot-label {
  display: block;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .student-form,
  .student-table {
    width: 100%; /* Full width on smaller screens */
    max-width: 100%; /* Prevents them from exceeding the container's width */
    min-width: 0; /* Overwrites any minimum width set outside the media query */
  }
}