@font-face {
  font-family: "Open Sans";
  src: url(../public/opensans.ttf);
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1 {
  font-weight: normal;
}

.header {
  position: relative;
  background-color: #900;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Open Sans";
  align-items: center;
  justify-content: space-between;
}

.header-link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none; /* Remove underline */
}

.header-left {
  position: absolute;
  left: 20%;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.ua-logo {
  font-size: 55px;
  line-height: 55px;
  max-width: 350px;
  padding: 15px;
  margin-top: 5px;
  height: 66px;
}

.header-title {
  margin: 0;
}

.nav-buttons {
  position: absolute;
  right: 20%;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 9px;
  padding-top: 40px;
  padding-bottom: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: #000
}

.content {
  padding-top: 20px; /* Add padding to the top of the content area */
}

.user-table {
  margin: 0 auto;
  padding: 40px;
  border-collapse: collapse;
  width: 80%;
  position: relative;
}

.user-table th,
.user-table td {
  border: 1px solid #000; /* Black line borders */
  padding: 8px; /* Add padding to cells for spacing */
}

.user-table th {
  background-color: #f2f2f2; /* Light gray background for table header */
}

.actions-button-container {
  display: flex;
  justify-content: center;
}

.actions-button-container button {
  background-color: #900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.actions-button-container button:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: #000
}

.schedule-buttons-container {
  display: flex;
  justify-content: center;
}

.schedule-buttons-container button {
  background-color: #900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.schedule-buttons-container button:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: #000
}